/__pycache__/*
/bots/__pycache__/*
/bots/__init__.py
/common/__pycache__/*
/common/*.pyc
/common/__init__.py
/data/DiscordMessages
/servers/__pycache__/*
/brokers/__pycache__/*
/keys/*
/install/install.sh
/miscellaneous/*
.env